.board {
  box-shadow: 0px 0px 0px 1px black inset;
  grid-column-start: 2;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 10;
  position: relative;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(45, 1fr);
  padding: 3px;
  overflow: hidden;
  background: salmon;
  opacity: 0.7; }
  .board div {
    display: flex;
    align-items: center;
    justify-content: center; }

.board:after {
  content: "";
  position: absolute;
  top: -300%;
  left: -200%;
  width: 150%;
  height: 400%;
  opacity: 0;
  transform: rotate(45deg);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 85%, rgba(255, 255, 255, 0.5) 95%, rgba(255, 255, 255, 0) 100%); }

.board.shine:after {
  opacity: 1;
  top: -125%;
  left: -25%;
  transition-property: left, top, opacity;
  transition-duration: 0.70s, 0.70s, 0.1s;
  transition-timing-function: ease; }

.board.shine:active:after {
  opacity: 1; }

.cell {
  position: relative;
  overflow: hidden; }

.cell:after {
  content: "";
  position: absolute;
  top: -190%;
  left: -200%;
  width: 200%;
  height: 300%;
  opacity: 0;
  transform: rotate(45deg);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 75%, rgba(255, 255, 255, 0.5) 90%, rgba(255, 255, 255, 0) 100%);
  transition: opacity 0.25s, left 0.5s, top 0.5s;
  transition-timing-function: ease; }

.cell.shine:after {
  opacity: 1;
  top: -80%;
  left: -40%;
  transition-property: left, top, opacity;
  transition-duration: 0.60s, 0.60s, 0.1s;
  transition-timing-function: ease; }

.cell.shine:active:after {
  opacity: 1; }

.inventory {
  box-shadow: 0px 0px 0px 1px black inset;
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 10;
  grid-row-end: 12; }

.wrapper {
  box-shadow: 0px 0px 0px 1px black inset;
  width: 80%;
  min-width: 1000px;
  height: 90%;
  min-height: 800px;
  margin: auto;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }

.log {
  box-shadow: 0px 0px 0px 1px black inset;
  grid-column-start: 11;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 12; }

.status {
  box-shadow: 0px 0px 0px 1px black inset;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 10;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 3px 3px;
  padding: 3px; }

div {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; }

h1 {
  border: solid 2px red;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: center; }
