.board {
  box-shadow: 0px 0px 0px 1px black inset;
  grid-column-start: 2;
  grid-column-end: 11;
  grid-row-start: 2;
  grid-row-end: 10;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(45, 1fr);
  padding: 3px; }
  .board div {
    display: flex;
    align-items: center;
    justify-content: center; }

.inventory {
  box-shadow: 0px 0px 0px 1px black inset;
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 10;
  grid-row-end: 12; }

.wrapper {
  box-shadow: 0px 0px 0px 1px black inset;
  width: 80%;
  min-width: 1000px;
  height: 90%;
  min-height: 800px;
  margin: auto;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }

.log {
  box-shadow: 0px 0px 0px 1px black inset;
  grid-column-start: 11;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 12; }

.status {
  box-shadow: 0px 0px 0px 1px black inset;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 10;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 3px 3px;
  padding: 3px; }

div {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; }

h1 {
  border: solid 2px red;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: center; }
