@import "modules/action";
@import "modules/board";
@import "modules/inventory";
@import "modules/wrapper";
@import "modules/log";
@import "modules/status";

div {
  box-shadow: 0px 0px 0px 1px black inset;

  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

h1 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}
