@import "modules/board";
@import "modules/inventory";
@import "modules/wrapper";
@import "modules/log";
@import "modules/status";

div {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

h1 {
  border: solid 2px red;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;

  display: flex;
  align-items:center;
  justify-content:center;
}
