.status {
  box-shadow: 0px 0px 0px 1px black inset;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 12;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 3px 3px;

  padding: 3px;
}
